.fa-circle{
    scale: 0.3;
}

body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

li{
    cursor: pointer;
}